@import "./fonts.scss";

:root {
  --bg-color: #1b263b;
  --link-hover-color: #778da9;
  --navbar-height: 100px
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #fff;
  font-family: "Reddit Sans Condensed", sans-serif;
  background-color: var(--bg-color);
}

.flex{
  display: flex;
}

header{
  max-height: var(--navbar-height);
  padding: 12px 10px;
  display: flex;
  align-items: center;
}

.header-section{
  width: 100vw;
}

.logo-section{
  display: inline-flex;
  align-items: center;
  max-width: 260px;
  a{
    display: inline-flex;
    align-items: center;
  }
  .logo{
    width: 100%;
    height: auto;
    position: relative !important;
  }
}

.nav-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-section{
  // min-width: 560px;
  // // padding: 10px;
  // display: flex;
  // justify-content: flex-end;
  // width:100%;
  // max-width: 560px;
}

.nav-list {
  padding: 10px 12px;
  max-width: 560px;
  width:100%;
  height:100%;
  display:flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center
}

.nav-list-item{
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  a{
    color: #fff;
    padding: 6px 12px;
    text-decoration: none;
  }
  &:hover {
    a{
      color: #000;
    background-color: var(--link-hover-color);
    }  
  }
}

.burger-menu{
  background: transparent;
  border: 0px;
  cursor: pointer;
  img{
    width: 100%;
    max-width: 50px;
    height: auto;
    position: relative !important;
  }
}


@media (max-width: 768px) {
  .nav-list {
    left:-100%;
    position: fixed;
    max-width: 100vw;
    top: var(--navbar-height);
    width:100%;
    flex-direction: column;
    height: calc(60vh - var(--navbar-height));
    text-align: center;
  }

  .nav-list.active {
    left:0;
  }
}

@media (min-width: 768px) {
  .burger-menu {
    display:none
  }
}